<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="user-scalable=0" />
    <title>Простой чат</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <ul id="messages">
      <% listMessages.forEach(function(msg){ %>

      <li><%=msg.content%></li>

      <% }) %>
    </ul>

    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      const form = document.getElementById("form");
      const input = document.getElementById("input");
      const messages = document.getElementById("messages");
      const messageContainer = document.getElementById("messageContainer");

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        if (input.value) {
          socket.emit("chat message", input.value);
          input.value = "";
        }
      });

      socket.on("chat message", function (msg) {
        str = msg.replace(/\s+/g, "");
        if (str != "") {
          const item = document.createElement("li");
          item.textContent = msg;
          messages.appendChild(item);
        }
      });
    </script>
  </body>
</html>
